/* Accounts Table Styling */
body {
  text-align: center;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

table th {
  background-color: #2196F3;
  color: white;
  padding: 10px;
  border: 1px solid #333;
}

table td {
  padding: 10px;
  border: 1px solid #333;
}

table tr:nth-child(even) {
  background-color: #BBDEFB;
}

table tr:nth-child(odd) {
  background-color: #E3F2FD;
}
