<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Accounts</title>
    <link rel="stylesheet" th:href="@{/css/accounts.css}">
  </head>
  <body>
    <h2>Accounts Details</h2>

    <table>
      <tr>
        <th>ID</th>
        <th>Account Number</th>
        <th>Account Type</th>
        <th>Account Holder Name</th>
        <th>Balance</th>
      </tr>
      <tr th:each="acc : ${accounts}">
        <td th:text="${acc.id}"></td>
        <td th:text="${acc.accountNumber}"></td>
        <td th:text="${acc.accountType}"></td>
        <td th:text="${acc.accountHolderName}"></td>
        <td th:text="${acc.accountBalance}"></td>
      </tr>
    </table>
  </body>
</html>
