<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Employees</title>
    <link rel="stylesheet" th:href="@{/css/employees.css}">
  </head>
  <body>
    <h2>Employee Details</h2>

    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Phone Number</th>
        <th>Email</th>
      </tr>

      <tr th:each="emp : ${employees}">
        <td th:text="${emp.id}"></td>
        <td th:text="${emp.name}"></td>
        <td th:text="${emp.dateOfBirth}"></td>
        <td th:text="${emp.phoneNumber}"></td>
        <td th:text="${emp.email}"></td>
      </tr>
    </table>
  </body>
</html>
